@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IDonatorService Donators



<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        var userId = User.Id();
        var userIsDonator = Donators.IsDonator(userId);

    @if(userIsDonator)
    {
        <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-controller="Pets" asp-action="Mine">My animals&#x1F408</a>
        </li>
    }
    else
    {
        <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-controller="Donators" asp-action="Become">Become animal donator&#x1F3E1</a>
        </li>
    }
        
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">&#x1F464</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">&#x1F6AA</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
